# Import libary that essential

In [2]:
import pandas as pd

## read data from file

In [3]:
data = pd.read_csv('./../data/Madrid Daily Weather 1997-2015.csv')
data.head()

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-01-01,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.0,6.0,NaN,229
1,1997-01-02,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,...,10.0,9.0,4.0,26,8,47.0,0.0,5.0,Rain,143
2,1997-01-03,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,...,10.0,10.0,7.0,27,19,NaN,0.0,6.0,Rain-Snow,256
3,1997-01-04,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,10.0,27,19,40.0,0.0,2.0,NaN,284
4,1997-01-05,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,10.0,5.0,1.0,14,6,NaN,0.0,7.0,Snow,2

## Modify data

In [4]:
data.columns = data.columns.str.strip()

## Detail of data

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6812 entries, 0 to 6811
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CET                         6812 non-null   object
 1   Max TemperatureC            6810 non-null   float64
 2   Mean TemperatureC           6809 non-null   float64
 3   Min TemperatureC            6810 non-null   float64
 4   Dew PointC                  6810 non-null   float64
 5   MeanDew PointC              6810 non-null   float64
 6   Min DewpointC               6810 non-null   float64
 7   Max Humidity                6810 non-null   float64
 8   Mean Humidity               6810 non-null   float64
 9   Min Humidity                6810 non-null   float64
 10  Max Sea Level PressurehPa   6812 non-null   int64
 11  Mean Sea Level PressurehPa  6812 non-null   int64
 12  Min Sea Level PressurehPa   6812 non-null   int64
 13  Max VisibilityKm            5872 non-null   float64
 14  Mean VisibilityKm           5872 non-null   float64
 15  Min VisibilitykM            5872 non-null   float64
 16  Max Wind SpeedKm/h          6812 non-null   int64
 17  Mean Wind SpeedKm/h         6812 non-null   int64
 18  Max Gust SpeedKm/h          3506 non-null   float64
 19  Precipitationmm             6812 non-null   float64
 20  CloudCover                  5440 non-null   float64
 21  Events                      1798 non-null   object
 22  WindDirDegrees              6812 non-null   int64
dtypes: float64(15), int64(6), object(2)
memory usage: 1.2+ MB

In [9]:
data.describe()

,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressurehPa,...,Min Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,WindDirDegrees
count,6810.000000,6809.000000,6810.000000,6810.000000,6810.000000,6810.000000,6810.000000,6810.000000,6810.000000,6812.000000,...,6812.000000,5872.000000,5872.000000,5872.000000,6812.000000,6812.000000,3506.000000,6812.000000,5440.000000,6812.000000
mean,21.039648,14.658687,8.640529,8.120705,4.976211,1.451248,81.139354,57.971366,34.729369,1020.529360,...,1015.217410,14.644074,11.719857,9.134877,21.953171,9.170728,43.988306,0.111182,3.206066,197.234586
std,8.867187,7.580461,6.837626,4.741067,4.654270,4.909705,17.531839,19.675744,19.320359,6.235941,...,6.944745,8.770024,5.592324,5.075065,9.903914,5.110013,12.252462,0.967174,1.808948,119.872777
min,0.000000,-3.000000,-10.000000,-12.000000,-15.000000,-22.000000,16.000000,15.000000,4.000000,994.000000,...,965.000000,1.000000,0.000000,0.000000,0.000000,0.000000,19.000000,0.000000,0.000000,-1.000000
25%,13.000000,8.000000,3.000000,5.000000,2.000000,-2.000000,68.000000,41.000000,19.000000,1017.000000,...,1011.000000,10.000000,10.000000,7.000000,14.000000,6.000000,35.000000,0.000000,2.000000,66.000000
50%,20.000000,14.000000,9.000000,8.000000,6.000000,2.000000,87.000000,59.000000,32.000000,1020.000000,...,1015.000000,10.000000,10.000000,10.000000,21.000000,8.000000,42.000000,0.000000,3.000000,223.000000
75%,29.000000,21.000000,14.000000,12.000000,8.000000,5.000000,94.000000,74.000000,47.750000,1024.000000,...,1019.000000,10.000000,10.000000,10.000000,27.000000,11.000000,52.000000,0.000000,5.000000,299.000000
max,41.000000,32.000000,28.000000,20.000000,16.000000,14.000000,100.000000,100.000000,100.000000,1047.000000,...,1041.000000,31.000000,31.000000,31.000000,182.000000,39.000000,103.000000,32.000000,8.000000,360.000000

## Split Cell

In [4]:
# data.columns = ['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC', 'Max DewPointC', 'Mean DewPointC', 'Min DewPointC', 'Max Humidity', 'Mean Humidity', 'Min Humidity', 'Max SLP', 'Mean SLP', 'Min SLP', 'Max VisibilityKm', 'Mean VisibilityKm', 'Min VisibilitykM', 'Max Wind SpeedKm/h', 'Mean Wind SpeedKm/h', 'Max Gust SpeedKm/h', 'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees']
# data

In [10]:
# temperature_data = data[['Max TemperatureC','Mean TemperatureC','Min TemperatureC']]
# temperature_data.corr()

In [11]:
# dew_point_data = data[['Dew PointC','MeanDew PointC','Min DewpointC']]
# dew_point_data.columns = ['Max DewPointC','Mean DewPointC','Min DewPointC']
# dew_point_data.corr()

In [12]:
# humidity_data = data[['Max Humidity', 'Mean Humidity', 'Min Humidity']]
# humidity_data.corr()

In [13]:
# sea_level = data[['Max Sea Level PressurehPa', 'Mean Sea Level PressurehPa', 'Min Sea Level PressurehPa']]
# sea_level.columns = ['Max SLP', 'Mean SLP', 'Min SLP']
# sea_level

In [14]:
# visbility_data = data[['Max VisibilityKm', 'Mean VisibilityKm', 'Min VisibilitykM']]
# visbility_data

## Cleaning data

In [8]:
# convert object type to datetimes type
data['CET'] = pd.to_datetime(data['CET'])
data

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-01-01,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.00,6.0,NaN,229
1,1997-01-02,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,...,10.0,9.0,4.0,26,8,47.0,0.00,5.0,Rain,143
2,1997-01-03,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,...,10.0,10.0,7.0,27,19,NaN,0.00,6.0,Rain-Snow,256
3,1997-01-04,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,10.0,27,19,40.0,0.00,2.0,NaN,284
4,1997-01-05,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,10.0,5.0,1.0,14,6,NaN,0.00,7.0,Snow,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6807,2015-12-27,14.0,7.0,-1.0,6.0,2.0,-2.0,100.0,77.0,30.0,...,31.0,14.0,5.0,14,6,NaN,0.00,8.0,Fog,38
6808,2015-12-28,15.0,8.0,2.0,8.0,4.0,1.0,100.0,78.0,34.0,...,31.0,14.0,8.0,27,8,45.0,0.51,7.0,Rain,243
6809,2015-12-29,11.0,8.0,5.0,9.0,7.0,5.0,100.0,89.0,66.0,...,31.0,9.0,0.0,14,8,32.0,2.03,5.0,Fog-Rain,190
6810,2015-12-30,9.0,8.0,6.0,7.0,6.0,5.0,93.0,87.0,70.0,...,19.0,10.0,6.0,14,5,34.0,0.00,6.0,NaN,256
6811,2015-12-31,12.0,10.0,7.0,10.0,8.0,7.0,100.0,90.0,70.0,...,31.0,8.0,2.0,14,6,NaN,0.25,6.0,Rain,313

In [17]:
# grouping by year that from 2010 - 2015
focus_data = data['CET'].apply(lambda x: x.year() >= 2010)

TypeError: 'int' object is not callable

## Manage outlier data

## Analysis data

### topic 
- how different of data in range between 10 year
- what is pattern of temperature in each year
- Max temperature average in a year
- Min temperature average in a year
-

## test

In [20]:
data.loc['CET']

KeyError: 'CET'