# Import libary that essential

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Read data from file

In [2]:
data = pd.read_csv('./../data/Madrid Daily Weather 1997-2015.csv')

## Preparation
- look at the over all of data

In [3]:
data.describe()

,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressurehPa,...,Min Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,WindDirDegrees
count,6810.000000,6809.000000,6810.000000,6810.000000,6810.000000,6810.000000,6810.000000,6810.000000,6810.000000,6812.000000,...,6812.000000,5872.000000,5872.000000,5872.000000,6812.000000,6812.000000,3506.000000,6812.000000,5440.000000,6812.000000
mean,21.039648,14.658687,8.640529,8.120705,4.976211,1.451248,81.139354,57.971366,34.729369,1020.529360,...,1015.217410,14.644074,11.719857,9.134877,21.953171,9.170728,43.988306,0.111182,3.206066,197.234586
std,8.867187,7.580461,6.837626,4.741067,4.654270,4.909705,17.531839,19.675744,19.320359,6.235941,...,6.944745,8.770024,5.592324,5.075065,9.903914,5.110013,12.252462,0.967174,1.808948,119.872777
min,0.000000,-3.000000,-10.000000,-12.000000,-15.000000,-22.000000,16.000000,15.000000,4.000000,994.000000,...,965.000000,1.000000,0.000000,0.000000,0.000000,0.000000,19.000000,0.000000,0.000000,-1.000000
25%,13.000000,8.000000,3.000000,5.000000,2.000000,-2.000000,68.000000,41.000000,19.000000,1017.000000,...,1011.000000,10.000000,10.000000,7.000000,14.000000,6.000000,35.000000,0.000000,2.000000,66.000000
50%,20.000000,14.000000,9.000000,8.000000,6.000000,2.000000,87.000000,59.000000,32.000000,1020.000000,...,1015.000000,10.000000,10.000000,10.000000,21.000000,8.000000,42.000000,0.000000,3.000000,223.000000
75%,29.000000,21.000000,14.000000,12.000000,8.000000,5.000000,94.000000,74.000000,47.750000,1024.000000,...,1019.000000,10.000000,10.000000,10.000000,27.000000,11.000000,52.000000,0.000000,5.000000,299.000000
max,41.000000,32.000000,28.000000,20.000000,16.000000,14.000000,100.000000,100.000000,100.000000,1047.000000,...,1041.000000,31.000000,31.000000,31.000000,182.000000,39.000000,103.000000,32.000000,8.000000,360.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6812 entries, 0 to 6811
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CET                          6812 non-null   object
 1   Max TemperatureC             6810 non-null   float64
 2   Mean TemperatureC            6809 non-null   float64
 3   Min TemperatureC             6810 non-null   float64
 4   Dew PointC                   6810 non-null   float64
 5   MeanDew PointC               6810 non-null   float64
 6   Min DewpointC                6810 non-null   float64
 7   Max Humidity                 6810 non-null   float64
 8    Mean Humidity               6810 non-null   float64
 9    Min Humidity                6810 non-null   float64
 10   Max Sea Level PressurehPa   6812 non-null   int64
 11   Mean Sea Level PressurehPa  6812 non-null   int64
 12   Min Sea Level PressurehPa   6812 non-null   int64
 13   Max VisibilityKm            5872 non-null   float64
 14   Mean VisibilityKm           5872 non-null   float64
 15   Min VisibilitykM            5872 non-null   float64
 16   Max Wind SpeedKm/h          6812 non-null   int64
 17   Mean Wind SpeedKm/h         6812 non-null   int64
 18   Max Gust SpeedKm/h          3506 non-null   float64
 19  Precipitationmm              6812 non-null   float64
 20   CloudCover                  5440 non-null   float64
 21   Events                      1798 non-null   object
 22  WindDirDegrees               6812 non-null   int64
dtypes: float64(15), int64(6), object(2)
memory usage: 1.2+ MB

In [5]:
data.head(10)

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-01-01,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.0,6.0,NaN,229
1,1997-01-02,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,...,10.0,9.0,4.0,26,8,47.0,0.0,5.0,Rain,143
2,1997-01-03,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,...,10.0,10.0,7.0,27,19,NaN,0.0,6.0,Rain-Snow,256
3,1997-01-04,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,10.0,27,19,40.0,0.0,2.0,NaN,284
4,1997-01-05,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,10.0,5.0,1.0,14,6,NaN,0.0,7.0,Snow,2
5,1997-01-06,7.0,3.0,1.0,2.0,-1.0,-3.0,100.0,82.0,57.0,...,10.0,10.0,10.0,11,5,NaN,0.0,4.0,NaN,64
6,1997-01-07,2.0,0.0,-2.0,1.0,-1.0,-3.0,100.0,93.0,75.0,...,10.0,7.0,0.0,6,2,NaN,0.0,7.0,Snow,43
7,1997-01-08,8.0,4.0,1.0,7.0,4.0,1.0,100.0,96.0,87.0,...,10.0,8.0,4.0,26,8,NaN,0.0,7.0,Rain,273
8,1997-01-09,12.0,10.0,8.0,8.0,3.0,0.0,100.0,65.0,44.0,...,10.0,10.0,10.0,48,23,48.0,0.0,4.0,Rain,274
9,1997-01-10,13.0,8.0,3.0,8.0,5.0,1.0,93.0,83.0,63.0,...,10.0,10.0,10.0,13,5,NaN,0.0,5.0,NaN,100

In [22]:
data.groupby('Max TemperatureC').count()

,CET,Mean TemperatureC,Min TemperatureC,Max Dew PointC,Mean Dew PointC,Min Dew PointC,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressurehPa,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
Max TemperatureC,,,,,,,,,,,,,,,,,,,,,
0.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
1.0,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,0,3,3,2,3
2.0,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,3,11,11,10,11
3.0,11,11,11,11,11,11,11,11,11,11,...,10,10,10,11,11,2,11,10,5,11
4.0,18,18,18,18,18,18,18,18,18,18,...,15,15,15,18,18,2,18,15,11,18
5.0,37,37,37,37,37,37,37,37,37,37,...,33,33,33,37,37,12,37,31,19,37
6.0,57,57,57,57,57,57,57,57,57,57,...,55,55,55,57,57,26,57,55,39,57
7.0,98,98,98,98,98,98,98,98,98,98,...,89,89,89,98,98,32,98,89,39,98
8.0,170,170,170,170,170,170,170,170,170,170,...,162,162,162,170,170,55,170,162,81,170
9.0,171,171,171,171,171,171,171,171,171,171,...,158,158,158,171,171,72,171,152,73,171
10.0,231,231,231,231,231,231,231,231,231,231,...,212,212,212,231,231,93,231,202,98,231
11.0,304,304,304,304,304,304,304,304,304,304,...,271,271,271,304,304,127,304,261,121,304
12.0,309,309,309,309,309,309,309,309,309,309,...,282,282,282,309,309,134,309,271,119,309
13.0,307,307,307,307,307,307,307,307,307,307,...,284,284,284,307,307,158,307,270,137,307
14.0,292,292,292,292,292,292,292,292,292,292,...,265,265,265,292,292,146,292,242,106,292
15.0,253,253,253,253,253,253,253,253,253,253,...,235,235,235,253,253,124,253,218,94,253
16.0,291,291,291,291,291,291,291,291,291,291,...,257,257,257,291,291,128,291,244,100,291
17.0,229,229,229,229,229,229,229,229,229,229,...,198,198,198,229,229,105,229,181,89,229
18.0,224,224,224,224,224,224,224,224,224,224,...,192,192,192,224,224,83,224,181,76,224
19.0,231,231,231,231,231,231,231,231,231,231,...,198,198,198,231,231,116,231,187,60,231
20.0,203,203,203,203,203,203,203,203,203,203,...,172,172,172,203,203,104,203,169,65,203
21.0,219,219,219,219,219,219,219,219,219,219,...,181,181,181,219,219,92,219,168,58,219
22.0,213,213,213,213,213,213,213,213,213,213,...,185,185,185,213,213,94,213,175,52,213
23.0,230,230,230,230,230,230,230,230,230,230,...,190,190,190,230,230,116,230,170,52,230
24.0,201,201,201,201,201,201,201,201,201,201,...,167,167,167,201,201,106,201,154,35,201
25.0,163,163,163,163,163,163,163,163,163,163,...,135,135,135,163,163,84,163,129,29,163
26.0,164,164,164,164,164,164,164,164,164,164,...,142,142,142,164,164,99,164,133,26,164
27.0,211,210,211,211,211,211,211,211,211,211,...,191,191,191,211,211,116,211,171,27,211
28.0,205,205,205,205,205,205,205,205,205,205,...,175,175,175,205,205,119,205,160,27,205
29.0,192,192,192,192,192,192,192,192,192,192,...,157,157,157,192,192,112,192,145,21,192
30.0,193,193,193,193,193,193,193,193,193,193,...,157,157,157,193,193,115,193,147,22,193
31.0,218,218,218,218,218,218,218,218,218,218,...,176,176,176,218,218,148,218,151,18,218
32.0,254,254,254,254,254,254,254,254,254,254,...,209,209,209,254,254,169,254,186,21,254
33.0,204,204,204,204,204,204,204,204,204,204,...,162,162,162,204,204,122,204,139,13,204
34.0,194,194,194,194,194,194,194,194,194,194,...,147,147,147,194,194,125,194,131,17,194
35.0,177,177,177,177,177,177,177,177,177,177,...,125,125,125,177,177,128,177,110,11,177
36.0,156,156,156,156,156,156,156,156,156,156,...,128,128,128,156,156,111,156,111,15,156
37.0,90,90,90,90,90,90,90,90,90,90,...,72,72,72,90,90,67,90,55,7,90
38.0,47,47,47,47,47,47,47,47,47,47,...,42,42,42,47,47,36,47,31,2,47
39.0,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,20,23,14,0,23
40.0,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,0,4
41.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,1

## Cleaning topic
- tidy data
- change data type
- remove duplicate
- set unique ID
- fill missing value

In [6]:
# tidy data
# remove space from column
data.columns = data.columns.str.strip()
# change format name column
data.rename(columns = {'Dew PointC':'Max Dew PointC', 'MeanDew PointC':'Mean Dew PointC', 'Min DewpointC':'Min Dew PointC'}, inplace=True)

In [7]:
# change data type
# convert object type to datetimes type
data['CET'] = pd.to_datetime(data['CET'])

In [ ]:
# remove duplicate

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6812 entries, 0 to 6811
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CET                         6812 non-null   datetime64[ns]
 1   Max TemperatureC            6810 non-null   float64
 2   Mean TemperatureC           6809 non-null   float64
 3   Min TemperatureC            6810 non-null   float64
 4   Max Dew PointC              6810 non-null   float64
 5   Mean Dew PointC             6810 non-null   float64
 6   Min Dew PointC              6810 non-null   float64
 7   Max Humidity                6810 non-null   float64
 8   Mean Humidity               6810 non-null   float64
 9   Min Humidity                6810 non-null   float64
 10  Max Sea Level PressurehPa   6812 non-null   int64
 11  Mean Sea Level PressurehPa  6812 non-null   int64
 12  Min Sea Level PressurehPa   6812 non-null   int64
 13  Max VisibilityKm            5872 non-null   float64
 14  Mean VisibilityKm           5872 non-null   float64
 15  Min VisibilitykM            5872 non-null   float64
 16  Max Wind SpeedKm/h          6812 non-null   int64
 17  Mean Wind SpeedKm/h         6812 non-null   int64
 18  Max Gust SpeedKm/h          3506 non-null   float64
 19  Precipitationmm             6812 non-null   float64
 20  CloudCover                  5440 non-null   float64
 21  Events                      1798 non-null   object
 22  WindDirDegrees              6812 non-null   int64
dtypes: datetime64[ns](1), float64(15), int64(6), object(1)
memory usage: 1.2+ MB

In [9]:
data['Max TemperatureC'].quantile([0.25, 0.075])

0.250    13.0
0.075     9.0
Name: Max TemperatureC, dtype: float64

## Cleaning data
- fill missing data
- handling outliers
- distinguishing and fixing errors present in the dataset

In [11]:
data.groupby('Events').size()

Events
Fog                        233
Fog-Rain                    69
Fog-Rain-Snow                1
Fog-Rain-Thunderstorm        1
Fog-Snow                     4
Fog-Thunderstorm             1
Rain                      1140
Rain-Hail                    1
Rain-Hail-Thunderstorm       7
Rain-Snow                   33
Rain-Snow-Thunderstorm       1
Rain-Thunderstorm          247
Snow                        14
Thunderstorm                45
Tornado                      1
dtype: int64

In [18]:
# select year from 2005 - 2015 that we interest
focus_data = data[(data['CET'] >= '1997-01-01')]

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Max Dew PointC,Mean Dew PointC,Min Dew PointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-01-01,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.00,6.0,NaN,229
1,1997-01-02,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,...,10.0,9.0,4.0,26,8,47.0,0.00,5.0,Rain,143
2,1997-01-03,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,...,10.0,10.0,7.0,27,19,NaN,0.00,6.0,Rain-Snow,256
3,1997-01-04,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,10.0,27,19,40.0,0.00,2.0,NaN,284
4,1997-01-05,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,10.0,5.0,1.0,14,6,NaN,0.00,7.0,Snow,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6807,2015-12-27,14.0,7.0,-1.0,6.0,2.0,-2.0,100.0,77.0,30.0,...,31.0,14.0,5.0,14,6,NaN,0.00,8.0,Fog,38
6808,2015-12-28,15.0,8.0,2.0,8.0,4.0,1.0,100.0,78.0,34.0,...,31.0,14.0,8.0,27,8,45.0,0.51,7.0,Rain,243
6809,2015-12-29,11.0,8.0,5.0,9.0,7.0,5.0,100.0,89.0,66.0,...,31.0,9.0,0.0,14,8,32.0,2.03,5.0,Fog-Rain,190
6810,2015-12-30,9.0,8.0,6.0,7.0,6.0,5.0,93.0,87.0,70.0,...,19.0,10.0,6.0,14,5,34.0,0.00,6.0,NaN,256
6811,2015-12-31,12.0,10.0,7.0,10.0,8.0,7.0,100.0,90.0,70.0,...,31.0,8.0,2.0,14,6,NaN,0.25,6.0,Rain,313

In [13]:
# group data by year
focus_data_year = focus_data.groupby(focus_data.CET.dt.year)

In [17]:
# find mean of temperature in a month
min_temp_y = pd.DataFrame(focus_data_year['Min TemperatureC'].mean())
max_temp_y = pd.DataFrame(focus_data_year['Max TemperatureC'].mean())
mean_temp_y = pd.DataFrame(focus_data_year['Mean TemperatureC'].mean())

In [15]:
# group max min mean
temp_y = pd.concat([min_temp_y, max_temp_y, mean_temp_y], axis=1)
temp_y

      Min TemperatureC  Max TemperatureC  Mean TemperatureC
CET
1997          9.854795         21.838356          15.610959
1998          8.465753         21.106849          14.556164
1999          8.427397         20.512329          14.252055
2000          8.130112         20.553903          14.055970
2001          7.884298         19.809917          13.606061
2002          8.550685         20.178082          14.169863
2003          9.035616         20.673973          14.652055
2004          8.773810         21.083333          14.744048
2005          8.156164         21.194521          14.465753
2006          9.178082         21.413699          15.027397
2007          7.457534         19.961644          13.515068
2008          8.122951         20.360656          14.073770
2009          8.980822         21.652055          15.115068
2010          9.005479         20.284932          14.380822
2011          9.221918         22.076712          15.454795
2012          8.046448         21.240437          14.527322
2013          8.191781         20.939726          14.539726
2014          9.556164         22.109589          15.808219
2015          9.005479         22.632877          15.802740

In [16]:
# focusing data with lastest year
focus_data_month = data[(data['CET'] >= '2015-01-01')]

In [ ]:
# group data by month
focus_data_month = focus_data_month.groupby(focus_data_month.CET.dt.month)

In [ ]:
# mean of max, min and mean value
min_temp_m = pd.DataFrame(focus_data_month['Min TemperatureC'].mean())
max_temp_m = pd.DataFrame(focus_data_month['Max TemperatureC'].mean())
mean_temp_m = pd.DataFrame(focus_data_month['Mean TemperatureC'].mean())

In [ ]:
# group three data
temp_m = pd.concat([min_temp_m, max_temp_m, mean_temp_m], axis=1)
temp_m

### Cleaning data cycle
- merge data set
- rebuild missing data
- standardize
- normalize
- de-duplicate
- verify and enrich

### Type of invalid data
- messy data
- missing value
- nonsensical data

## Manage outlier data

## Analysis data

### topic 
- how different of data in range between 10 year
- what is pattern of temperature in each year
- Max temperature average in a year
- Min temperature average in a year
-

In [ ]:
# temperature per year
temp_y.plot(kind="bar", figsize = (10, 4))
plt.xlabel("Year")
plt.ylabel("Celsius")
plt.ylim(0,40)

In [ ]:
# temperature in latest year
temp_m.plot(kind="bar", figsize = (10, 4), color={'Max TemperatureC': '#FF5733', 'Mean TemperatureC': '#229954', 'Min TemperatureC': '#55799D'})
# temp_m.plot(kind="bar", figsize = (10, 4), color=['blue', 'oran'])
plt.xlabel("Month")
plt.ylabel("Celsius")
plt.ylim(-5,40)

## test

In [ ]:
# choose column by index
# data.iloc[:, :3]

## useful link
- https://www.analyticsvidhya.com/blog/2021/06/data-cleaning-using-pandas/#What_Is_Data_Cleaning? (cleaning data)
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html (pandas school)