# Import libary that essential

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## read data from file

In [2]:
data = pd.read_csv('./../data/Madrid Daily Weather 1997-2015.csv')
data.head()

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-01-01,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.0,6.0,NaN,229
1,1997-01-02,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,...,10.0,9.0,4.0,26,8,47.0,0.0,5.0,Rain,143
2,1997-01-03,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,...,10.0,10.0,7.0,27,19,NaN,0.0,6.0,Rain-Snow,256
3,1997-01-04,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,10.0,27,19,40.0,0.0,2.0,NaN,284
4,1997-01-05,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,10.0,5.0,1.0,14,6,NaN,0.0,7.0,Snow,2

## Modify data

In [3]:
data.columns = data.columns.str.strip()

## Detail of data

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6812 entries, 0 to 6811
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CET                         6812 non-null   object
 1   Max TemperatureC            6810 non-null   float64
 2   Mean TemperatureC           6809 non-null   float64
 3   Min TemperatureC            6810 non-null   float64
 4   Dew PointC                  6810 non-null   float64
 5   MeanDew PointC              6810 non-null   float64
 6   Min DewpointC               6810 non-null   float64
 7   Max Humidity                6810 non-null   float64
 8   Mean Humidity               6810 non-null   float64
 9   Min Humidity                6810 non-null   float64
 10  Max Sea Level PressurehPa   6812 non-null   int64
 11  Mean Sea Level PressurehPa  6812 non-null   int64
 12  Min Sea Level PressurehPa   6812 non-null   int64
 13  Max VisibilityKm            5872 non-null   float64
 14  Mean VisibilityKm           5872 non-null   float64
 15  Min VisibilitykM            5872 non-null   float64
 16  Max Wind SpeedKm/h          6812 non-null   int64
 17  Mean Wind SpeedKm/h         6812 non-null   int64
 18  Max Gust SpeedKm/h          3506 non-null   float64
 19  Precipitationmm             6812 non-null   float64
 20  CloudCover                  5440 non-null   float64
 21  Events                      1798 non-null   object
 22  WindDirDegrees              6812 non-null   int64
dtypes: float64(15), int64(6), object(2)
memory usage: 1.2+ MB

In [5]:
data.describe()

,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressurehPa,...,Min Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,WindDirDegrees
count,6810.000000,6809.000000,6810.000000,6810.000000,6810.000000,6810.000000,6810.000000,6810.000000,6810.000000,6812.000000,...,6812.000000,5872.000000,5872.000000,5872.000000,6812.000000,6812.000000,3506.000000,6812.000000,5440.000000,6812.000000
mean,21.039648,14.658687,8.640529,8.120705,4.976211,1.451248,81.139354,57.971366,34.729369,1020.529360,...,1015.217410,14.644074,11.719857,9.134877,21.953171,9.170728,43.988306,0.111182,3.206066,197.234586
std,8.867187,7.580461,6.837626,4.741067,4.654270,4.909705,17.531839,19.675744,19.320359,6.235941,...,6.944745,8.770024,5.592324,5.075065,9.903914,5.110013,12.252462,0.967174,1.808948,119.872777
min,0.000000,-3.000000,-10.000000,-12.000000,-15.000000,-22.000000,16.000000,15.000000,4.000000,994.000000,...,965.000000,1.000000,0.000000,0.000000,0.000000,0.000000,19.000000,0.000000,0.000000,-1.000000
25%,13.000000,8.000000,3.000000,5.000000,2.000000,-2.000000,68.000000,41.000000,19.000000,1017.000000,...,1011.000000,10.000000,10.000000,7.000000,14.000000,6.000000,35.000000,0.000000,2.000000,66.000000
50%,20.000000,14.000000,9.000000,8.000000,6.000000,2.000000,87.000000,59.000000,32.000000,1020.000000,...,1015.000000,10.000000,10.000000,10.000000,21.000000,8.000000,42.000000,0.000000,3.000000,223.000000
75%,29.000000,21.000000,14.000000,12.000000,8.000000,5.000000,94.000000,74.000000,47.750000,1024.000000,...,1019.000000,10.000000,10.000000,10.000000,27.000000,11.000000,52.000000,0.000000,5.000000,299.000000
max,41.000000,32.000000,28.000000,20.000000,16.000000,14.000000,100.000000,100.000000,100.000000,1047.000000,...,1041.000000,31.000000,31.000000,31.000000,182.000000,39.000000,103.000000,32.000000,8.000000,360.000000

## Split Cell

In [6]:
# data.columns = ['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC', 'Max DewPointC', 'Mean DewPointC', 'Min DewPointC', 'Max Humidity', 'Mean Humidity', 'Min Humidity', 'Max SLP', 'Mean SLP', 'Min SLP', 'Max VisibilityKm', 'Mean VisibilityKm', 'Min VisibilitykM', 'Max Wind SpeedKm/h', 'Mean Wind SpeedKm/h', 'Max Gust SpeedKm/h', 'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees']
# data

In [7]:
# temperature_data = data[['Max TemperatureC','Mean TemperatureC','Min TemperatureC']]
# temperature_data.corr()

In [8]:
# dew_point_data = data[['Dew PointC','MeanDew PointC','Min DewpointC']]
# dew_point_data.columns = ['Max DewPointC','Mean DewPointC','Min DewPointC']
# dew_point_data.corr()

In [9]:
# humidity_data = data[['Max Humidity', 'Mean Humidity', 'Min Humidity']]
# humidity_data.corr()

In [10]:
# sea_level = data[['Max Sea Level PressurehPa', 'Mean Sea Level PressurehPa', 'Min Sea Level PressurehPa']]
# sea_level.columns = ['Max SLP', 'Mean SLP', 'Min SLP']
# sea_level

In [11]:
# visbility_data = data[['Max VisibilityKm', 'Mean VisibilityKm', 'Min VisibilitykM']]
# visbility_data

## Cleaning data
- fill missing data
- handling outliers
- distinguishing and fixing errors present in the dataset

### Cleaning data cycle
- merge data set
- rebuild missing data
- standardize
- normalize
- de-duplicate
- verify and enrich

### Type of invalid data
- messy data
- missing value
- nonsensical data

In [12]:
# convert object type to datetimes type
data['CET'] = pd.to_datetime(data['CET'])
data

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-01-01,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.00,6.0,NaN,229
1,1997-01-02,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,...,10.0,9.0,4.0,26,8,47.0,0.00,5.0,Rain,143
2,1997-01-03,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,...,10.0,10.0,7.0,27,19,NaN,0.00,6.0,Rain-Snow,256
3,1997-01-04,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,10.0,27,19,40.0,0.00,2.0,NaN,284
4,1997-01-05,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,10.0,5.0,1.0,14,6,NaN,0.00,7.0,Snow,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6807,2015-12-27,14.0,7.0,-1.0,6.0,2.0,-2.0,100.0,77.0,30.0,...,31.0,14.0,5.0,14,6,NaN,0.00,8.0,Fog,38
6808,2015-12-28,15.0,8.0,2.0,8.0,4.0,1.0,100.0,78.0,34.0,...,31.0,14.0,8.0,27,8,45.0,0.51,7.0,Rain,243
6809,2015-12-29,11.0,8.0,5.0,9.0,7.0,5.0,100.0,89.0,66.0,...,31.0,9.0,0.0,14,8,32.0,2.03,5.0,Fog-Rain,190
6810,2015-12-30,9.0,8.0,6.0,7.0,6.0,5.0,93.0,87.0,70.0,...,19.0,10.0,6.0,14,5,34.0,0.00,6.0,NaN,256
6811,2015-12-31,12.0,10.0,7.0,10.0,8.0,7.0,100.0,90.0,70.0,...,31.0,8.0,2.0,14,6,NaN,0.25,6.0,Rain,313

In [13]:
# select year from 2005 - 2015 that we interest
focus_data = data[(data['CET'] >= '2005-01-01')]
focus_data

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
2795,2005-01-01,12.0,4.0,-2.0,3.0,1.0,-3.0,100.0,81.0,54.0,...,8.0,8.0,8.0,10,3,NaN,0.00,0.0,NaN,355
2796,2005-01-02,14.0,6.0,-2.0,4.0,1.0,-3.0,100.0,77.0,51.0,...,NaN,NaN,NaN,19,6,NaN,0.00,NaN,NaN,9
2797,2005-01-03,11.0,4.0,-2.0,1.0,-1.0,-3.0,93.0,74.0,47.0,...,NaN,NaN,NaN,16,6,NaN,0.00,NaN,NaN,5
2798,2005-01-04,10.0,3.0,-3.0,2.0,-1.0,-4.0,93.0,80.0,54.0,...,NaN,NaN,NaN,8,3,27.0,0.00,NaN,NaN,351
2799,2005-01-05,10.0,3.0,-4.0,2.0,-2.0,-5.0,100.0,82.0,50.0,...,9.0,9.0,8.0,6,3,21.0,0.00,NaN,NaN,359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6807,2015-12-27,14.0,7.0,-1.0,6.0,2.0,-2.0,100.0,77.0,30.0,...,31.0,14.0,5.0,14,6,NaN,0.00,8.0,Fog,38
6808,2015-12-28,15.0,8.0,2.0,8.0,4.0,1.0,100.0,78.0,34.0,...,31.0,14.0,8.0,27,8,45.0,0.51,7.0,Rain,243
6809,2015-12-29,11.0,8.0,5.0,9.0,7.0,5.0,100.0,89.0,66.0,...,31.0,9.0,0.0,14,8,32.0,2.03,5.0,Fog-Rain,190
6810,2015-12-30,9.0,8.0,6.0,7.0,6.0,5.0,93.0,87.0,70.0,...,19.0,10.0,6.0,14,5,34.0,0.00,6.0,NaN,256
6811,2015-12-31,12.0,10.0,7.0,10.0,8.0,7.0,100.0,90.0,70.0,...,31.0,8.0,2.0,14,6,NaN,0.25,6.0,Rain,313

In [32]:
# group data by year
focus_data_year = focus_data.groupby(focus_data.CET.dt.year)
a = focus_data_year['Mean TemperatureC'].mean()
plt.figure(figsize=[10,8])
plt.bar(bin_edges[:-1], hist, width = 0.5, color='#0504aa',alpha=0.7)
plt.xlim(min(bin_edges), max(bin_edges))
plt.grid(axis='y', alpha=0.75)
plt.xlabel('Value',fontsize=15)
plt.ylabel('Frequency',fontsize=15)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)
plt.ylabel('Frequency',fontsize=15)
plt.title('Normal Distribution Histogram',fontsize=15)
plt.show()

NameError: name 'bin_edges' is not defined

In [27]:
focus_data_month = data[(data['CET'] >= '2015-01-01')]
focus_data_month = focus_data_month.groupby(focus_data_month.CET.dt.month)
focus_data_month['Mean TemperatureC'].mean()

CET
1      5.161290
2      6.464286
3     10.516129
4     14.066667
5     19.451613
6     23.633333
7     28.806452
8     25.290323
9     20.033333
10    15.612903
11    11.600000
12     8.290323
Name: Mean TemperatureC, dtype: float64

In [26]:
focus_data_month['Max TemperatureC'].mean()

CET
1     11.903226
2     11.464286
3     17.354839
4     20.700000
5     27.354839
6     31.400000
7     36.903226
8     32.741935
9     27.066667
10    21.161290
11    18.233333
12    14.451613
Name: Max TemperatureC, dtype: float64

In [28]:
focus_data_month['Min TemperatureC'].mean()

CET
1     -1.483871
2      1.785714
3      3.677419
4      7.466667
5     11.451613
6     15.833333
7     20.612903
8     17.967742
9     13.033333
10    10.161290
11     5.000000
12     2.032258
Name: Min TemperatureC, dtype: float64

## Manage outlier data

In [16]:
#test

In [17]:
focus_data.describe()

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Min Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,WindDirDegrees
count,365,365.000000,365.00000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,...,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,263.000000,365.000000,246.000000,365.000000
mean,2015-07-02 00:00:00,22.632877,15.80274,9.005479,8.369863,5.109589,1.449315,79.849315,52.928767,24.235616,...,1015.306849,30.361644,21.183562,12.400000,21.808219,9.249315,43.353612,0.492000,3.260163,213.709589
min,2015-01-01 00:00:00,4.000000,1.00000,-6.000000,-4.000000,-7.000000,-12.000000,30.000000,16.000000,4.000000,...,992.000000,10.000000,5.000000,0.000000,8.000000,3.000000,21.000000,0.000000,1.000000,1.000000
25%,2015-04-02 00:00:00,15.000000,9.00000,3.000000,6.000000,2.000000,-2.000000,65.000000,36.000000,11.000000,...,1010.000000,31.000000,16.000000,9.000000,14.000000,6.000000,35.000000,0.000000,1.000000,128.000000
50%,2015-07-02 00:00:00,22.000000,16.00000,9.000000,9.000000,6.000000,2.000000,82.000000,53.000000,21.000000,...,1013.000000,31.000000,21.000000,10.000000,21.000000,8.000000,42.000000,0.000000,3.000000,230.000000
75%,2015-10-01 00:00:00,30.000000,22.00000,15.000000,12.000000,8.000000,5.000000,100.000000,70.000000,34.000000,...,1021.000000,31.000000,28.000000,14.000000,27.000000,11.000000,50.000000,0.000000,5.000000,331.000000
max,2015-12-31 00:00:00,40.000000,31.00000,23.000000,20.000000,16.000000,13.000000,100.000000,94.000000,78.000000,...,1041.000000,31.000000,31.000000,31.000000,58.000000,31.000000,87.000000,27.940000,8.000000,360.000000
std,NaN,8.846183,7.84461,7.378687,4.671949,4.565643,4.713877,18.842079,19.533583,15.826822,...,7.851232,2.892897,6.723892,8.075808,9.207107,4.692849,11.447876,2.216498,2.053717,116.582061

## Analysis data

### topic 
- how different of data in range between 10 year
- what is pattern of temperature in each year
- Max temperature average in a year
- Min temperature average in a year
-

## test

## useful link
- https://www.analyticsvidhya.com/blog/2021/06/data-cleaning-using-pandas/#What_Is_Data_Cleaning? (cleaning data)
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html (pandas school)